$weatherCardBackgroundColor: rgb(255, 255, 255);
$titleColor: rgb(31, 31, 31);
$wide: "(min-width: 1800px)" !default;
$desktop: "(min-width: 1200px)" !default;
$tablet-landscape: "(min-width: 900px)" !default;
$tablet-protrait: "(min-width: 600px)" !default;
$phone: "(max-width: 600px)" !default;

@mixin media($query: $phone) {
  @media #{$query} {
    @content;
  }
}

@mixin Title {
  font-size: 25px;
  font-weight: bold;
  color: $titleColor;
  margin: 10px;
}
