.detailContainer {
  background-image: linear-gradient(
    to top,
    rgb(0, 102, 255),
    rgb(228, 228, 228)
  );
  .mainContent {
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
